<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="section-title text-center">
        <h1>over 40 innovative financial institutions run on Arcus</h1>
      </div>
    </div>
  </div>
  <div class="swiper-container swiper-vertical">

    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="row">
          <div class="col-md flex-c flex-column">
            <div class="partner-title">
              <h2>Debitize runs on Arcus</h2>
              <p>Debitize leverages Arcus to payoff credit cards</p>
            </div>
            <div class="slider-card card-partner">
              <img src="img/logo/debitize.png" alt="Zoe">
              <p>"Leveraging Arcus API has allowed us to fundamentally evolve our product."</p>
              <div class="card-user">
                <img src="img/user/0.png" alt="">
                <p>Lirian Amrany <br> Founder and CEO, Debitize</p>
              </div>
            </div>
            <a href="#" class="btn btn-orange mx-auto">join today</a>
          </div>
          <div class="col-md-5 col-lg-6">
            <div class="img-partner">
              <img src="img/slide01.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="row">
          <div class="col-md flex-c flex-column">
            <div class="partner-title">
              <h2>Zoe runs on Arcus</h2>
              <p>Zoe leverages Arcus to consolidate loan data</p>
            </div>
            <div class="slider-card card-partner">
              <img src="img/logo/zoe.png" alt="Debitize">
              <p>"Arcus is the perfect solution for us to get intelligent financial data for our users."</p>
              <div class="card-user">
                <img src="img/user/1.png" alt="">
                <p>Andrés García <br> CEO, Zoe</p>
              </div>
            </div>
            <a href="#" class="btn btn-orange mx-auto">join today</a>
          </div>
          <div class="col-md-5 col-lg-6">
            <div class="img-partner">
              <img src="img/slide02.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="row">
          <div class="col-md flex-c flex-column">
            <div class="partner-title">
              <h2>Albo runs on Arcus</h2>
              <p>Albo bank leverages Arcus for bill payments data in Mexico</p>
            </div>
            <div class="slider-card card-partner">
              <img src="img/logo/albo.png" alt="Albo">
              <p>“Arcus has been an amazing resource for Albo in order to aggregate financial data.”</p>
              <div class="card-user">
                <img src="img/user/2.png" alt="">
                <p>Andrés García <br> CEO, Zoe</p>
              </div>
            </div>
            <a href="#" class="btn btn-orange mx-auto">join today</a>
          </div>
          <div class="col-md-5 col-lg-6">
            <div class="img-partner">
              <img src="img/slide03.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="row">
          <div class="col-md flex-c flex-column">
            <div class="partner-title">
              <h2>Qoins runs on Arcus</h2>
              <p>Qoins leverages Arcus for debt payments data</p>
            </div>
            <div class="slider-card card-partner">
              <img src="img/logo/qoins.png" alt="Albo">
              <p>“In our search for a solution, it was clear from the developer documentation that Arcus was the most modern for debt payments.”</p>
              <div class="card-user">
                <img src="img/user/3.png" alt="">
                <p>Christian Zimmerman <br> CEO, Qoins</p>
              </div>
            </div>
            <a href="#" class="btn btn-orange mx-auto">join today</a>
          </div>
          <div class="col-md-5 col-lg-6">
            <div class="img-partner">
              <img src="img/slide04.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="row">
          <div class="col-md flex-c flex-column">
            <div class="partner-title">
              <h2>Curu runs on Arcus</h2>
              <p>Curu leverages Arcus to automate credit building for the underbanked</p>
            </div>
            <div class="slider-card card-partner">
              <img src="img/logo/curu.png" alt="Albo">
              <p>“Arcus helps us make sure everyone has fair and equal access to credit.” </p>
              <div class="card-user">
                <img src="img/user/6.png" alt="">
                <p>David Potter <br> CEO, Curu</p>
              </div>
            </div>
            <a href="#" class="btn btn-orange mx-auto">join today</a>
          </div>
          <div class="col-md-5 col-lg-6">
            <div class="img-partner">
              <img src="img/slide05.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="row">
          <div class="col-md flex-c flex-column">
            <div class="partner-title">
              <h2>Happy Money runs on Arcus</h2>
              <p>Happy Money leverages Arcus to enable consumers to directly</p>
            </div>
            <div class="slider-card card-partner">
              <img src="img/logo/hm.png" alt="Albo">
              <p>“Our partnership with Arcus makes it easier for our Members to pay off their credit cards, and we love that!” </p>
              <div class="card-user">
                <img src="img/user/5.png" alt="">
                <p>Scott Saunders <br> CEO and Founder, Happy Money</p>
              </div>
            </div>
            <a href="#" class="btn btn-orange mx-auto">join today</a>
          </div>
          <div class="col-md-5 col-lg-6">
            <div class="img-partner">
              <img src="img/slide06.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="row">
          <div class="col-md flex-c flex-column">
            <div class="partner-title">
              <h2>Walmart runs on Arcus</h2>
              <p>Walmart's Cashi leverages Arcus to facilitate bill data and payments</p>
            </div>
            <div class="slider-card card-partner">
              <img src="img/logo/walmart.png" alt="Albo">
              <p>“Arcus has been a great partner to work with, their technology allows Walmart-Cashi to deliver tremendous value to customers in Mexico”</p>
              <div class="card-user">
                <p>Hai Habot, Senior Director of Product and Strategy, Walmart of America and Central America</p>
              </div>
            </div>
            <a href="#" class="btn btn-orange mx-auto">join today</a>
          </div>
          <div class="col-md-5 col-lg-6">
            <div class="img-partner">
              <img src="img/slide07.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="row">
          <div class="col-md flex-c flex-column">
            <div class="partner-title">
              <h2>CBW Bank runs on Arcus</h2>
              <p>CBW leverages Arcus to enable consumers to directly</p>
            </div>
            <div class="slider-card card-partner">
              <img src="img/logo/cbw.png" alt="Albo">
              <p>“Arcus is one of the most reliable and buttoned up fintechs we've partnered with.”</p>
              <div class="card-user">
                <img src="img/user/4.png" alt="">
                <p>Suchitra Padmanabhan <br> CEO, CBW Bank</p>
              </div>
            </div>
            <a href="#" class="btn btn-orange mx-auto">join today</a>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="row">
          <div class="col-md flex-c flex-column">
            <div class="partner-title">
              <h2>Mastercard runs on Arcus</h2>
              <p>Mastercard leverages Arcus to enable consumers to directly</p>
            </div>
            <div class="slider-card card-partner">
              <img src="img/logo/mastercard.png" alt="Albo">
              <p>“Arcus is a Mastercard start path company”</p>
            </div>
            <a href="#" class="btn btn-orange mx-auto">join today</a>
          </div>
        </div>
      </div>

    </div>
    <div class="swiper-pagination pagination-vertical"></div>
    <a href="#" class="btn btn-orange mx-auto d-block d-md-none">join today</a>
  </div>
</div>