.mobile__filter {
  display : none;
  position: fixed;
  top     : 0;
  left    : 0;
  width   : 100%;
  height  : 100%;
  z-index : 1050;
  background-color: $black;
  padding: 0 15px;
  
  &.is-open {
    display: block;
  }

  .btn-close {
    cursor  : pointer;
    position: absolute;
    top     : 0;
    right   : 0;
    margin  : 20px;
    z-index : 10;
  }

  #filter {
    width: 100%;
    border-color:#999999;
    &::before {
      content:'/ ';
      font-family: $font-body;
      font-weight: 100;
      color:white;
    }
  }

  .accordion {
    @extend %h2;
    color: white;
    margin-bottom: 10px;
    position: relative;
    border-bottom: 1px solid #474747;
    padding-bottom: 8px;

    &::before {
      margin-left: 15px;
      margin-right: 15px;
      content:'';
      position: absolute;
      top:8px;
      right:-15px;
      height: 0px; 
      width: 0px;
      border: 6px solid;
      border-top-width: 8px;
      border-color: 
        $orange
        transparent
        transparent;
      transform: rotate(0deg);
    }

  }

  .accordion__content {
    max-height: 0;
    overflow: hidden;
    margin-bottom: 10px;

    li.active {
      color: white;
    }

    li + li {
      margin-top: 10px;
    }

    &.active {
      overflow: visible;
    }

  }
}

.modal[aria-hidden="false"] .modal-overlay {
  animation: mmfadeIn .8s cubic-bezier(0.0, 0.0, 0.2, 1);
}


.modal[aria-hidden="true"] .modal-overlay {
  animation: mmfadeOut .8s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal .modal-content,
.modal .modal-overlay {
  will-change: transform;
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}
