.breadcrumb {
  color:$orange;
  
  h2::before, .h2::before {
    content:'/ ';
    font-family: $font-body;
    font-weight: 100;
    color:$orange;
  }
}

.text-number {
  display: flex;
  align-items: end;

  p {
    display: inline-block;
    margin-left: 15px;
  }

  .text-numeral {
    position: relative;
  }

  .text-numeral::before {
    content:'';
    width: 100px;
    left: -50%;
    top:50%;
    height: 20px;
    background-color: $orange;
    position: absolute;  

    @media(max-width: 992px) {
      height: 16px;
      width: 80px;
      top:40%;
    }
    @media(max-width: 767px) {
      height: 10px;
      width: 60px;
      left: -70%;
    }
  }
}

.sticky {
  position: sticky;
  top: 100px;
}

.matraka-icon {
  margin-top: 60px;

  #circle-s, #circle-m, #circle-l {
    will-change: transform;
  }

  @media(max-width: 767px) {
    display: none;
  }
}

.lt-gray, %lt-gray {
  &::after {
    height: 1px;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    content:'';
    position: absolute;
    top:0;
    left:0px;
    right:0px;
    background-color: $dark-gray;
  }
}

.work--item {
  @include font($font-body, 400,normal, 12px, 0px, 16px);

  &:not(:nth-last-child(-n+3)) {
    margin-bottom: 60px;
  }

  @media(max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .item--content {
    margin-top: 20px;
    color:white;

    p + p {
      margin-top: 0;
    }
  }

  .img--hover {
    display: none;
  }

  &:hover {
    .img--hover {
      display: block;
      z-index: 9;
      object-fit: cover;
      width: 100%;
    }
    .img--display {
      display: none;
    }
  }
}