%h1,
.h1,
h1 {
  font-family   : 'Value', 'Avenir Next', 'Century Gothic', sans-serif;
  font-weight   : normal;
  font-size     : 56px;
  letter-spacing: -1px;
  line-height   : 60px;
  @media(max-width: 991px) {
    word-spacing: 1px;
    font-size   : 40px;
    line-height : 40px;
  }
}

%h2,
.h2,
h2 {
  font-family   : 'Value', 'Avenir Next', 'Century Gothic', sans-serif;
  font-weight   : 500;
  font-size     : 20px;
  letter-spacing: -0.22px;
  line-height   : 24px;
  @media(max-width: 991px) {
    font-size     : 18px;
    letter-spacing: -0.18px;
    line-height   : 20px;
  }
  @media(max-width: 767px) {
    font-size     : 16px;
    letter-spacing: -0.18px;
    line-height   : 19px;
  }
}

%h3,
.h3,
h3 {
  font-family   : 'Value', 'Avenir Next', 'Century Gothic', sans-serif;
  font-weight   : normal;
  font-size     : 20px;
  letter-spacing: -0.22px;
  line-height   : 24px;
  @media(max-width: 767px) {
    font-size     : 16px;
    letter-spacing: -0.18px;
    line-height   : 20px;
  }
}

%h4,
.h4,
h4 {
  font-family   : 'Value', 'Avenir Next', 'Century Gothic', sans-serif;
  font-weight   : 500;
  font-size     : 16px;
  letter-spacing: -0.18px;
  line-height   : 20px;
  @media(max-width: 767px) {
    letter-spacing: -0.09px;
  }
}

%footer-title,
.footer-title {
  font-family   : 'Value', 'Avenir Next', 'Century Gothic', sans-serif;
  font-weight   : 600;
  font-size     : 18px;
  letter-spacing: -0.2px;
  line-height   : 24px;
}

%text-btn,
.text-btn {
  font-family   : 'Value', 'Avenir Next', 'Century Gothic', sans-serif;
  font-size     : 16px;
  letter-spacing: .24px;
  line-height   : 20px;
}

%text-numeral,
.text-numeral {
  font-family   : 'Value', 'Avenir Next', 'Century Gothic', sans-serif;
  font-size     : 80px;
  letter-spacing: -2.82px;
  line-height   : 100px;
}

%text-gradient {
  background             : rgb(244,117,72);
  background             : linear-gradient(135deg, rgba(244,117,72,1) 0%, rgba(235,76,67,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

%text-link,
.text-link {
  font-family   : 'Roboto';
  font-weight   : 500;
  font-size     : 16px;
  letter-spacing: 0;
  line-height   : 20rpx;
}

%text-sm,
.text-sm {
  font-family   : 'Roboto';
  font-weight   : 300;
  font-size     : 14px;
  letter-spacing: .2px;
  line-height   : 20px;
}

.text-quote {
  font-family   : 'Value', 'Avenir Next', 'Century Gothic', sans-serif;
  font-size     : 26px;
  letter-spacing: -0.49px;
  line-height   : 30px;
}

.color-orange {
  color: $orange;
}

.read-more-container {
  p:nth-child(n+3) {
    @extend %transition;
    position : absolute;
    transform: translate(0,-5%);
    opacity  : 0;
  }

  &.active {
    p:nth-child(n+3) {
      position : static;
      transform: translate(0,0%);
      opacity  : 1;
    }
  }
}

.btn-read-more {
  display: block;

  &::after {
    content: ' More';
  }

  &.active {
    &::after {
      content: ' Less';
    }
  }
}

.red {
  color: #EB4D44;
}
