h4 + ul, h4 + p, h4 + address {
  margin-top: 20px;

  @include media-breakpoint-down(sm) {
    margin-top: 13px;
  }
}

p + a {
  margin-top: 20px;
}

p + p {
  margin-top: 20px;
}

.breadcrumb + h3 {
  margin-top: 20px;
}

img + figcaption {
  margin-top: 15px;
}

strong + p {
  margin-top: 20px;
}

p + strong {
  margin-top: 40px;
  display: block;
}

@media(max-width: 767px) {
  .breadcrumb + div {
    margin-top: 20px;
  }

}