@font-face {
    font-family: 'NHaasGroteskTXPro-75Bd';
    src: url('../fonts/38B283_1_0.eot'); 
    src: url('../fonts/38B283_1_0.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/38B283_1_0.woff2') format('woff2'), 
        url('../fonts/38B283_1_0.woff') format('woff'), 
        url('../fonts/38B283_1_0.ttf')  format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/38B283_0_0.eot'); 
    src: url('../fonts/38B283_0_0.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/38B283_0_0.woff2') format('woff2'), 
        url('../fonts/38B283_0_0.woff') format('woff'), 
        url('../fonts/38B283_0_0.ttf')  format('truetype');
    font-weight: 400;
    font-style: normal;
}

// Typography Options
$font-title: 'NHaasGroteskTXPro-75Bd', sans-serif;
$font-body: 'Helvetica', Helvetica, sans-serif;


//TYPOGRAPHY 
@mixin font($font:$font-title, $weight:normal, $style: normal, $size:16px, $spacing:-0.08px, $line-height:20px) {
    font-family: $font;
    font-weight: $weight;
    font-style : $style;
    font-size: $size;
    letter-spacing: $spacing;
    line-height: $line-height;
}
