html {
  background-color: $off-white;
  overflow: hidden;
}

body {
  // background: $white;
  overflow: hidden;
}

body,
html {
  @extend %font-smoothing;
  font-family            : 'Helvetica';
  font-weight            : 400;
  font-size              : 14px;
  line-height            : 20px;
  letter-spacing         : 0;
  color                  : white;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media(max-width: 991px) {
    font-size  : 13px;
    line-height: 20px;
  }
}

main {
  @media (max-width: 991px) {
    overflow-x: hidden;
  }
}


button {
  background-color: transparent;
  border-color: transparent;
}