html {
  background-color: $black;
}


body,
html {
  @extend %font-smoothing;
  @include font($font-body, 500,normal, 14px, 0px, 20px);
  color                  : $main-color;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $black;
}

// main {
//   @media (max-width: 991px) {
//     overflow-x: hidden;
//   }
// }


button {
  background-color: transparent;
  border-color: transparent;
}

.active, .color-white {
  color:white;
}

figure img {
  width: 100%;
}