$main-color  : #908f88;
$dark-color  : #626261;
$gray-color  : #77766E;
$dim-color   : #c6c6c4;
$orange      : #eb4d44;
$light-orange: #F47E45;
$brown       : #c5afa5;
$off-white   : #f6f6f1;
$dim-white   : #ECECEA;
$yellow      : #febc49;

$bezier      : cubic-bezier(.445, .5, .55, .95);