section.about-hero {
  @media(max-width: 991px) {
    text-align: center;
  }
}

section.about-intro {
  .section-title {
    margin-bottom: 50px;
  }
}

section.about-story {
  .section-title {
    display      : flex;
    align-items  : center;
    margin-bottom: 45px;
  }

  .read-more-container {
    p+p {
      margin-top: 20px;
    }
  }

  .img-round {
    margin-right: 45px;
  }

  .btn-read-more {
    margin-top: 5px;
  }

  @media(max-width: 991px) {
    .section-title {
      margin-bottom: 25px;
    }
  }
  @media(max-width: 767px) {
    padding: 80px 0;

    .section-title {
      flex-direction: column;
    }

    .img-round {
      margin: 0 auto 30px;
    }
  }
}

section.about-partners {
  .section-title {
    margin-bottom: 40px;
  }

  .badge-row {
    margin-top: 80px;

    h2 {
      margin-bottom: 25px;
    }
    @media(max-width: 767px) {
      margin-top: 40px;

      .col-md-6 + .col-md-6 {
        margin-top: 40px;
      }
    }
  }
}

.img-round {
  max-width    : 120px;
  min-height   : 120px;
  border-radius: 100%;
  @media(max-width: 991px) {
    min-height: 98px;
    max-width : 98px;
  }
}

.box-text {

  padding-top: 28px;

  @media(max-width: 991px) {
    padding-top: 16px;
  }
  @media(max-width: 767px) {

    padding-top: 35px;

  }
}

.grid-team {
  padding-top: 55px;

  .member-wrap {
    &:nth-child(n+11) {
      display       : none;
      pointer-events: none;
    }
  }

  &.active {
    .member-wrap {
      &:nth-child(n+11) {
        display       : block;
        pointer-events: all;
      }
    }
  }
  @media(max-width: 767px) {
    .member-wrap {
      &:nth-child(n+5) {
        display       : none;
        pointer-events: none;
      }
    }

    &.active {
      .member-wrap {
        &:nth-child(n+5) {
          display       : block;
          pointer-events: all;
        }
      }
    }
  }
  @media(max-width: 767px) {
    padding-top: 40px;
  }
}

.member-wrap {
  min-width    : 20%;
  max-width    : 20%;
  margin-bottom: 45px;

  @media(max-width: 991px) {
    min-width: 25%;
    max-width: 25%;
  }
  @media(max-width: 767px) {
    min-width    : 50%;
    max-width    : 50%;
    margin-bottom: 20px;
  }
}

.member-card {
  .member-img {
    margin-bottom: 10px;

    &:empty {
      background : $dim-white;
      padding-top: 130%;
    }
  }

  p {
    @extend %text-sm;
    color: $dark-color;
  }
}

.badge-partner {
  display        : flex;
  align-items    : center;
  justify-content: center;
  height         : 80px;
  // border-radius  : 4px;
  border         : 1px solid $white;
  margin-bottom  : 20px;
  padding        : 0 10px;

  .partner-logo {
    max-height: 33px;
    max-width : 95px;

  }

  @media(max-width: 991px) {
    padding  : 15px;
    min-width: 100px;

    .partner-logo {
      max-width: 100%;
    }
  }
}
