section.card-hero {
  @media(max-width: 991px) {
    min-height: 600px;
  }
}

section.card-intro {
  .section-title {
    margin-bottom: 50px;

    h1+h2 {
      margin-top: 20px;
    }
  }

  .split-content {
    margin-bottom: 50px;
  }
  @media(max-width: 991px) {
    .section-title {
      h2 {
        white-space: nowrap;
      }
    }
  }
  @media(max-width: 767px) {
    .section-title {
      margin-bottom: 0;

      h2 {
        margin-top : 30px;
        white-space: normal;
      }
    }

    .split-content {
      margin-bottom: 20px;
    }
  }
}

section.card-use {
  padding-bottom: 136px;

  .section-title {
    margin-bottom: 55px;

    h2 {
      margin-top: 20px;
    }
  }

  @media(max-width: 991px) {
    padding-bottom: 120px;

    .box-card {
      padding: 40px 0;
    }
  }
  @media(max-width: 767px) {
    padding-bottom: 60px;

    .section-title {
      margin-bottom: 30px;
    }
  }
}

section.card-why {
  padding-bottom: 136px;

  .section-title {
    margin-bottom: 40px;
  }

  @media(max-width: 991px) {
    padding-bottom: 120px;

    .box-card {
      padding: 40px 0;
    }
  }
  @media(max-width: 767px) {
    padding-bottom: 60px;

    .section-title {
      margin-bottom: 25px;
    }
  }
}

.badge-wrap {
  &:last-child {
    .badge-number {
      border-right : 0;
      border-bottom: 0;
    }
  }
}

section.card-flow {
  @media(max-width: 767px) {
    img {
      margin-top: 50px;
    }
  }
}

.badge-number {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  text-align     : center;
  padding        : 20px 15px;
  border-right   : 1px solid $dim-color;

  .text-numeral {
    @extend %text-gradient;
  }

  p {
    @extend %text-btn;
  }

  @media(max-width: 767px) {
    padding-bottom: 25px;
    border-right  : 0;
    border-bottom : 1px solid $dim-color;
  }
}
