main.arcus-finhub {
  .full-height {
    text-align: left;
  }
  @media(max-width:767px) {
    .full-height {
      text-align: center;
    }

  }
}

section.finhub-benefits {}

.list-steps {
  counter-reset  : section;
  list-style-type: none;
  padding        : 0;
  margin         : 0;
  text-align     : left;

  li {
    position     : relative;
    padding-left : 50px;
    margin-bottom: 25px;

    &::before {
      @extend %text-btn;
      position         : absolute;
      left             : 0;
      top              : 0;
      counter-increment: section;
      content          : counter(section);
      display          : inline-flex;
      align-items      : center;
      justify-content  : center;
      width            : 34px;
      height           : 34px;
      border-radius    : 100%;
      background-color : $orange;
      background       : linear-gradient(135deg, rgba(244,117,72,1) 0%, rgba(235,76,67,1) 100%);
      color            : $white;
      line-height      : 10px;
    }
  }
}
