
@keyframes glowMove {
  0,
  100% {
    transform: rotate(0)scale(1);
  }

  50% {
    transform: rotate(920deg)scale(1.125);
  }
}

@keyframes ballMove {
  0%,
  100% {
    transform: scale(.95)rotate(0)translate(50%,0);
  }

  50% {
    transform: scale(1)rotate(720deg)translate(0%,0);
  }
}

.glow-wrapper {
  width              : 100%;
  height             : 100%;
  position           : absolute;
  top                : 0;
  left               : 0;
  display            : flex;
  align-items        : center;
  justify-content    : space-between;
  animation          : glowMove 50s infinite $bezier;
  animation-fill-mode: both;
  will-change        : transform;
}

.glow-ball {
  width         : 50vw;
  height        : 50vh;
  background    : $yellow;
  border-radius : 100%;
  filter: blur(10em);
  mix-blend-mode: overlay;
  animation     : ballMove 50s infinite $bezier;

}

.home-intro {
  .glow-wrapper {
    @extend %transition;
    opacity: 0;
  }

  &.active {
    .glow-wrapper {
      opacity: 1;
    }
  }

  .bottom-bar {
    text-align: center;
  }
  @media(max-width: 991px) {
    min-height: 650px;
  }
}

.section-home-parallax {
  position: relative;

  .parallax-letter {
    transition      : all 800ms $bezier;
    transition-delay: 600ms;
    position        : absolute;
    bottom          : 0;
    left            : 0;
    z-index         : 10;
    // opacity   : 0;
    transform       : translate(-50%,55%);

    img {
      max-width: 900px;
    }
  }

  .parallax-junk {
    transition      : all 1000ms $bezier;
    transition-delay: 600ms;
    position        : absolute;
    top             : 0;
    left            : 0;
    z-index         : 10;
    // opacity   : 0;
    transform       : translate(-70%,-45%)rotate(185deg);

    img {
      max-width: 1370px;
    }
  }

  .parallax-junk--2 {
    transition      : all 1200ms $bezier;
    transition-delay: 600ms;
    position        : absolute;
    bottom          : 0;
    right           : 0;
    z-index         : 10;
    // opacity   : 0;
    transform       : translate(70%,44%)rotate(268deg);

    img {
      max-width: 1370px;
    }
  }

  &.active {
    .parallax-letter {
      opacity  : 0;
      transform: translate(-50%,80%)rotate(20deg);
    }

    .parallax-junk {
      opacity  : 0;
      transform: translate(-70%,-50%)rotate(160deg);

    }

    .parallax-junk--2 {
      opacity  : 0;
      transform: translate(70%,40%)rotate(280deg);
    }
  }
  @media(max-width: 991px) {
    overflow: hidden;

    .parallax-junk {
      opacity  : 1;
      transform: translate(-73%,-53%) rotate(-90deg) !important;

      img {
        max-width: 900px;
      }
    }

    .parallax-letter {
      opacity  : 1;
      transform: translate(-60%,60%);

      img {
        max-width: 400px;
      }
    }

    .parallax-junk--2 {

      opacity  : 1;
      transform: translate(70%,56%) rotate(268deg);

      img {
        max-width: 656px;
      }
    }
  }
  @media(max-width: 767px) {
    .section-area {
      padding-top: 0;
    }
    overflow: hidden;

    .parallax-letter {
      opacity  : 1;
      transform: translate(-60%,60%);

      img {
        max-width: 400px;
      }
    }

    .parallax-junk {
      display: none;
    }

    .parallax-junk--2 {

      opacity  : 1;
      transform: translate(70%,56%) rotate(268deg);

      img {
        max-width: 656px;
      }
    }
  }
}

.section-swiper-press {
  .container-fluid {
    padding: 0;
  }

  .section-title {
    margin-bottom: 55px;
  }

  .swiper-slide {
    max-width: 530px;
  }

  .swiper-pagination {
    position  : static;
    margin-top: 30px;
  }

  @media(max-width: 991px) {
    padding: 75px 0;

    .section-title {
      margin-bottom: 40px;
    }

    .container-fluid {
      padding: 0 15px;
    }
  }
}

.section-swiper-partners {
  padding-top: 100px;

  .section-title {
    margin-bottom: 50px;
  }

  .partner-title {
    text-align   : center;
    margin-bottom: 35px;
  }

  .card-partner {
    margin-bottom: 40px;
  }

  .img-partner {
    img {
      max-height: 520px;
    }
  }
  @media(min-width: 767px) and (max-width: 991px) {
    .section-title {
      margin-bottom: 40px;
    }

    .partner-title {
      margin-bottom: 20px;
    }

    .card-partner {
      max-width: 390px;
    }

    .card-partner p {
      max-width: 100%;
    }

    .img-partner {
      position: relative;
      height  : 100%;

      img {

        max-width: 120%;
        position : absolute;
        right    : 0;
        bottom   : 0;
      }
    }
  }
  @media(max-width: 991px) {
    .col-md {
      min-height: 470px;
    }

    .card-partner {
      margin-bottom: 30px;
    }

  }
  @media(max-width: 767px) {
    padding-top   : 70px;
    padding-bottom: 80px !important;

    .col-md {
      min-height: 0;
    }

    .btn-orange {
      display: none;
    }

    .img-partner {
      display: none;
    }

    .card-partner {
      padding: 25px 20px;

      p {
        max-width: 100%;
      }
    }
  }
}

.section-products {
  .products-img {
    img {
      width  : 100%;
      margin : 0 auto;
      display: inherit;
    }
  }
  @media(max-width: 991px) {
    min-height    : 730px;
    overflow      : hidden;
    padding-bottom: 0;

    .products-img {
      padding-top   : 40px;
      padding-bottom: 40px;
      width         : 60%;
      margin        : 0 auto;
    }
  }
  @media(max-width: 767px) {
    padding-top   : 50px;
    height        : auto;
    text-align    : center;
    padding-bottom: 0;
    // margin-bottom : -40px;
    .asset-wrapper {
      padding: 0;
    }

    .products-img {
      width         : 100%;
      overflow      : hidden;
      margin-bottom : 0;
      padding-bottom: 0;
    }
  }
}

.section-ai-solution {
  figure a {
    margin-top: 30px;
  }
  @media(min-width: 767px) and (max-width: 991px) {
    .section-title {
      max-width: 86%;
      margin   : 0 auto;
    }
  }
  @media(max-width: 767px) {
    text-align: center;
    padding   : 65px 0;

    figure {
      margin-bottom: 50px;
    }

    .section-title {
      margin-bottom: 40px;
    }
  }
}

.section-finhub {
  @media(max-width: 991px) {
    text-align: left;
  }
  @media(max-width: 767px) {
    padding   : 75px 0;
    text-align: center;
  }
}
@media(min-width:991px) {
  .section {
    .section-title {
      transition      : all 400ms $bezier;
      transition-delay: 100ms;
      transform       : translate(0,-15%);
      transform-origin: bottom;
      opacity         : 0;

      h1 {
        transition      : transform 400ms $bezier;
        transition-delay: 100ms;
        transform       : scaleY(1.5)translate(0,20%);
      }
    }

    figure {
      transition: transform 700ms $bezier;
      transform : translate(0,60%);
    }

    &.active {
      .section-title {
        transform: translate(0);
        opacity  : 1;

        h1 {
          transform: translate(0,0);
        }
      }

      figure {
        transform: scaleY(1)translate(0,0%);
      }
    }
  }

}
