$merchants-color: #77766E;

main.archus-merchants {
  p {
    color: $merchants-color;
  }
}

.merchants-intro {
  padding-top: 150px;

  .section-title {
    margin-bottom: 65px;
  }

  .box-border {
    @media(max-width: 991px) {
      &.box-border-none {
        padding-bottom: 40px;
        margin-bottom : 40px;
        border-right  : 0;
        border-bottom : 1px solid $dim-color;
      }

      img {
        margin : 0 auto;
        display: inherit;
      }
    }

    @media(max-width: 767px) {
      &.box-border-none {
        margin-bottom: 0;
      }
    }
  }

  @media(max-width: 991px) {
    padding-top   : 100px;
    padding-bottom: 0;
  }
  @media(max-width: 767px) {
    .section-title {
      margin-bottom: 35px;
    }
  }

}

.merchants-diagrams {
  margin-top: 100px;

  @media(max-width: 767px) {
    margin-top: 75px;
  }
}

.merchants-how {
  border-top   : 1px solid $dim-color;
  // border-bottom: 1px solid $dim-color;
  counter-reset: section;

  .section-title {
    margin-bottom: 40px;
  }
  @media(max-width: 991px) {
    border-top : 0;
    padding-top: 20px;
    text-align : center;

    &.pb0 {
      padding-bottom: 0;
    }

    .row {
      justify-content: center;
    }

    .box-border-none {
      padding-bottom: 40px;
      margin-bottom : 40px;
      border-right  : 0;
      border-bottom : 1px solid $dim-color;
    }
  }
  @media(max-width: 767px) {
    padding-top: 40px;
  }
}

.box-step {
  display       : flex;
  text-align    : left;
  font-size     : 14px;
  letter-spacing: .2px;
  line-height   : 20px;
  color         : $merchants-color;

  &::before {
    @extend %text-btn;
    counter-increment: section;
    content          : counter(section);
    display          : inline-flex;
    align-items      : center;
    justify-content  : center;
    min-width        : 34px;
    height           : 34px;
    border-radius    : 100%;
    background-color : $orange;
    color            : $white;
    line-height      : 10px;
    margin-right     : 15px;
  }
  @media(max-width: 767px) {
    margin-bottom: 40px;
  }
}
