.site-press .section__press{
  .press__item {
    @extend %lt-gray;
    padding: 60px 15px;

    p + p {
      margin-top: 0;
    }

    &--photo img{
      border-radius: 100%;
      width: 125px;
      height: 125px;
      margin: 0 auto;
      display: block;
    }

    @media (max-width: 767px) {
      padding: 30px 15px;

      &--photo img{
        margin-left: 0;
        margin-bottom: 30px;
        width: 100px;
        height: 100px;
      }

      .col-md-4, .col-lg-4 {
        margin-bottom: 20px;
      }

    }
  }
}