main.arcus-finhub .full-height {
  min-height: 90vh;

  @media(max-width:991px) {
    min-height: 500px;
  }
  @media(max-width:767px) {
    min-height: 540px;
  }
}

section.products-intro {
  .box-card {
    transform: translate(0, -25%);
    @media(max-width:767px) {
      & + & {
        margin-top: 30px;
      }

    }
  }

  @media(max-width:767px) {
    .col-md-6 + .col-md-6 {
      margin-top: 30px;
    }

  }
}

section.products-products {
  padding-top   : 50px;
  padding-bottom: 130px;
  min-height    : auto;

  .box-card {
    padding-bottom: 60px;
    min-height    : 90%;
  }
  @media(max-width:991px) {
    .box-card {
      padding: 40px 0 20px;
    }
  }
  @media(max-width:767px) {
    padding-top   : 0;
    padding-bottom: 80px;
  }
}

.list-values {
  list-style-type: none;
  padding        : 0;
  margin         : 0;

  li {
    @extend %row;
    position     : relative;
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    display  : block;
    transform: translate(0, -15px);
    margin   : 0 auto;
  }

  @media(max-width:991px) {
    li img {
      max-width: 200%;
    }
  }

  @media(max-width:767px) {
    text-align: left;
    margin-top: 70px;

    img {
      max-width: 50px !important;
    }
  }

}
