.security-intro {
  padding-bottom: 70px;

  h1 + h2 {
    margin-top: 20px;
  }
}

.security-cta {
  padding: 60px 0;

  @media(max-width: 991px) {
    padding: 90px 0;
  }
  @media(max-width: 767px) {
    padding-bottom: 70px;

    .btn {
      margin-top: 70px;
    }

    .section-title {
      margin-bottom: 90px;
    }
  }
}
