.site-work .section {
    &__work {

      &--share {
        margin-top: 20px;
        h4 {
          display: inline-block;
        }

        .socials li {
          vertical-align: bottom;
        }

        @media (max-width: 767px) {
          margin-bottom: 0px;
        }
      }

      &--detail {
        margin-top: 90px;

        @media (max-width: 991px) {
          margin-top: 20px;
        }
        @media (max-width: 767px) {
          margin-top: 65px;
        }
      }

      &--photos {
        margin-top: 0;
        
        figure, img {
          width: 100%;
        }
        figure + figure {
          margin-top: 45px;
        }

        figure {
          &.video {
            position: relative;
          }
        }

        .VideoPlayer-play {
          opacity: 0;
          background-image: url(/img/svg/icon-play-white.svg);
          height: 100%;
          width: 100%;
          background-repeat: no-repeat;
          background-position: 50% 40%;
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;

          &.paused {
            opacity: 1;
          }
        }

        @media (max-width: 991px) {
          margin-top: 80px;
        }

        @media (max-width: 767px) {
          margin-top: 65px;

          .VideoPlayer-play {
            background-size: 40px auto;
          }
        }
      }
    }
}